{% if site.data.navigation %}
    <!-- This finds the current page so it can be highlighted. -->
    {% for entry in site.data.navigation %}
    {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
        {% if fullurl == page.url %}
            {% assign current_page = fullurl %}
            {% break %}
        {% elsif page.url contains fullurl %}
            {% assign current_page = fullurl %}
        {% endif %}
    {% endfor %}
    
    <!-- Then we build the nav bar. -->
    <nav class="nav  nav--header">
        <ul class="list  list--nav">
        {% for entry in site.data.navigation %}
            {% if entry.url == current_page %}
                {% assign current = ' class="current"' %}
            {% else %}
                <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
                {% assign current = null %}
            {% endif %}
            {% assign sublinks = entry.sublinks %}
            {% if sublinks %}
            <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                <ul>
                    {% for sublink in sublinks %}
                    <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
      <button class="button  button--nav" aria-label="Menu toggle">
        {% include icon.html id="nav" title="Menu" %}
      </button>
    </nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
